html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;
    font: Helvetica, arial, sans-serif;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

html,body {
    background: #DCDCDC; font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #222;
}

.clear {clear: both;}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 15px;
    color: #222;
    word-spacing: .5px;
}

sup {
    font-size: 0.70em;
    vertical-align:super;
}

plink {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 15px;
}

#cv {
    /* width: 80%;        */
    /* max-width: 1048px; */
    width: 1048px;
    background: #FFFFFF;
    margin: 25px auto;
}

.mainDetails {
    padding: 25px 30px;
    /* border-bottom: 1.5px solid #DCDCDC; */
    background: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    word-spacing: .5px;
}

#name h1 {
    font-size: 2.2em;
    font-weight: 600;
    font-family: Helvetica, arial, sans-serif;
    margin-bottom: -2px;
}

#name h2 {
    font-size: 1.0em;
    font-weight: 400;
    font-family: Helvetica, arial, sans-serif;
    margin-bottom: 2px;
}

#mainArea {
    padding: 0px 35px;
    /* text-align: justify; */
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -5px;
}

#headshot {
    width: 23%;
    float: left;
    margin-right: 35px;
}

#headshot img {
    width: 100%;
    height: auto;
}

#name {
    float: left;
}

a:link {
    color: #0000E1;
    text-decoration: none;
}

a:visited {
    color: #0000E1;
    text-decoration: none;
}

a:hover {
    color: #0000E1;
    text-decoration: none;
}

a:active {
    color: #0000E1;
    text-decoration: none;
}

#contactDetails {
    font: Helvetica, arial, sans-serif;
    float: right;
}

#contactDetails ul {
    list-style-type: none;
    font-size: 1em;
    margin-top: 2px;
}

#contactDetails ul li {
    margin-bottom: 3px;
    color: #222;
}

#contactDetails ul li a:visited {color: #0000E1} {
    color: #222; 
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#contactDetails ul li a:hover{color: #0000E1} { 
    color: #DCDCDC;
}

section {
    border-top: 1.5px solid #DCDCDC;
    padding: 20px 0 0;
}

section:first-child {
    border-top: 10;
}

section:last-child {
    padding: 20px 0 10px;
}

.sectionTitle {
    float: left;
    width: 15%;
}

.sectionTitle h1 {
    font-family: Helvetica, arial, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: #222;
    /* letter-spacing:0.1px; */
}

.sectionContent {
    float: right;
    width: 73%;
    margin-right: 0px;
    /* letter-spacing:0.1px; */
}

.sectionContent h1 {
    float: left;
    width: 73%;
    font-size: 1.15em;
    margin-right: 0px;
    margin-left: -1em;
    /* letter-spacing:0.1px; */
}

.sectionList {
    float: right;
    width: 68%;
    margin-right: 0px;
    /* letter-spacing:0.1px; */
}

.subDetails {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0px;
}

.keySkills {
    list-style-type: none;
    -moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
    margin-bottom: 20px;
    font-size: 1em;
    color: #222;
}

.keySkills ul li {
    margin-bottom: 3px;
}

/* @media all and (max-width: 601px) {                    */
/*     #cv {                                              */
/*         width: 95%;                                    */
/*         margin: 10px auto;                             */
/*         min-width: 280px;                              */
/*     }                                                  */
/*                                                        */
/*     #headshot {                                        */
/*         display: none;                                 */
/*     }                                                  */
/*                                                        */
/*     #name, #contactDetails {                           */
/*         float: none;                                   */
/*         width: 100%;                                   */
/*         text-align: center;                            */
/*     }                                                  */
/*                                                        */
/*     .sectionTitle, .sectionContent, .sectionList { */
/*         float: none;                                   */
/*         width: 100%;                                   */
/*     }                                                  */
/*                                                        */
/*     .sectionTitle {                                    */
/*         margin-left: -2px;                             */
/*         font-size: 1.25em;                             */
/*     }                                                  */
/*                                                        */
/*     .keySkills {                                       */
/*         -moz-column-count:2;                           */
/*         -webkit-column-count:2;                        */
/*         column-count:2;                                */
/*     }                                                  */
/* }                                                      */
/*                                                        */
/* @media all and (max-width: 480px) {                    */
/*     .mainDetails {                                     */
/*         padding: 15px 15px;                            */
/*     }                                                  */
/*                                                        */
/*     section {                                          */
/*         padding: 15px 0 0;                             */
/*     }                                                  */
/*                                                        */
/*     #mainArea {                                        */
/*         padding: 0 25px;                               */
/*     }                                                  */
/*                                                        */
/*     .keySkills {                                       */
/*         -moz-column-count:1;                           */
/*         -webkit-column-count:1;                        */
/*         column-count:1;                                */
/*     }                                                  */
/*                                                        */
/*     #name h1 {                                         */
/*         line-height: .8em;                             */
/*         margin-bottom: 4px;                            */
/*     }                                                  */
/* }                                                      */
